#wp-admin-bar-peadig-link span > img {
	display: inline;
	margin-bottom: -4px;
}

.redux_field_th span[class^='el'], .redux_field_th span[class^='fa'] {
    display: initial!important;
    font-size: 1.5em!important;
    margin: -2px 10px 0px 0px!important;
    float: left!important;
}

/*
        META BOX TABS STYLES
*/
.peadig_tab_button {
    float: left;
    padding: 5px 15px;
    color: #21759b;
    cursor: pointer;
}

.peadig_tab.active {
    display: block !important;
    background: #fff;
    border: 1px solid #dedede;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.peadig_tab {
    display: none;
}

.peadig_tabs {
    clear: both;
    position: relative;
    z-index: 1;
}

.peadig_tab_button.active {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-bottom-color: #fff;
    margin-bottom: -1px;
    color: #333;
    cursor: default;
}

.peadig_tab_buttons {
    position: relative;
    z-index: 2;
}

._peadig_upload_button {
    text-align: center;
    height: 34px !important;
}

._peadig_twitter_image {
    float: left;
    margin-right: 10px;
    text-align: center;
}

.peadig_twitter_gallery_images {
    display: none;
}

.peadig_upload_preview {
    vertical-align: middle;
}

/*
        META BOX TABS STYLES
*/
.peadig_tab_button {
    float: left;
    padding: 5px 15px;
    color: #21759b;
    cursor: pointer;
}

.peadig_tab.active {
    display: block !important;
    background: #fff;
    border: 1px solid #dedede;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.peadig_tab {
    display: none;
}

.peadig_tabs {
    clear: both;
    position: relative;
    z-index: 1;
}

.peadig_tab_button.active {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #fff;
    border: 1px solid #dedede;
    border-bottom-color: #fff;
    margin-bottom: -1px;
    color: #333;
    cursor: default;
}

.peadig_tab_buttons {
    position: relative;
    z-index: 2;
}

._peadig_upload_button {
    text-align: center;
    height: 34px !important;
}

._peadig_twitter_uploader {
    float: left;
    margin-right: 10px;
}

._peadig_twitter_preview {
    float: left;
}

._peadig_twitter_image {
    float: left;
    margin-right: 10px;
    text-align: center;
    height: 60px;
}

.peadig_twitter_gallery_images {
    display: none;
    clear: both;
}

.peadig_upload_preview {
    vertical-align: middle;
}

.peadig_sc_overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000000;
}

.peadig_sc_inner {
    margin: 50px auto;
    width: 640px;
    padding: 20px;
    -webkit-box-shadow: 0 0 35px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 35px 0 rgba(0,0,0,0.5);
    background: #fff url(img/large-bg.png) no-repeat -25px -25px;
}

`
.pd_sc_rowclear {
    clear: both;
}

.pd_sc_fakelink {
    padding: 15px 30px;
    background-color: #458B00;
    display: inline-block;
    cursor: pointer;
    clear: both;
    color: #fff;
    font-size: 18px;
}

.pd_sc_codes {
    display: none;
    margin-top: -35px;
}

.peadig_sc_inner h1 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.peadig_sc_inner h3 {
    clear: both;
    margin: 0;
}

#pd_sc_chooser {
    float: right;
}

.pd_sc_optrow {
    float: left;
    width: 160px;
}

.pd_sc_optrow_wide {
    float: left;
    width: 100%;
}

.pd_sc_optrow label {
}

.pd_sc_optrow input {
    width: 100px;
}

.pd_sc_optrow_wide input {
    width: 620px;
}

.pd_sc_optrow_button {
    clear: both;
    float: right;
}

body#tinymce.wp-editor { 
    margin: 10px;
    background-image: none;
}