body.login {
    background: -moz-linear-gradient(-45deg,  rgba(54,95,108,0) 0%, rgba(54,95,108,0) 1%, rgba(54,95,108,0) 85%, rgba(54,95,108,1) 85%, rgba(54,95,108,1) 100%),-moz-linear-gradient(-45deg,  rgba(87,136,170,0) 0%, rgba(87,136,170,0) 1%, rgba(87,136,170,1) 89%, rgba(87,136,170,1) 100%) !important : ;; /* FF3.6+ */

    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(54,95,108,0)), color-stop(1%,rgba(54,95,108,0)), color-stop(85%,rgba(54,95,108,0)), color-stop(85%,rgba(54,95,108,1)), color-stop(100%,rgba(54,95,108,1))),-webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(87,136,170,0)), color-stop(1%,rgba(87,136,170,0)), color-stop(89%,rgba(87,136,170,1)), color-stop(100%,rgba(87,136,170,1))); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(-45deg,  rgba(54,95,108,0) 0%,rgba(54,95,108,0) 1%,rgba(54,95,108,0) 85%,rgba(54,95,108,1) 85%,rgba(54,95,108,1) 100%),-webkit-linear-gradient(-45deg,  rgba(87,136,170,0) 0%,rgba(87,136,170,0) 1%,rgba(87,136,170,1) 89%,rgba(87,136,170,1) 100%); /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(-45deg,  rgba(54,95,108,0) 0%,rgba(54,95,108,0) 1%,rgba(54,95,108,0) 88%,rgba(54,95,108,1) 85%,rgba(54,95,108,1) 100%),-o-linear-gradient(-45deg,  rgba(87,136,170,0) 0%,rgba(87,136,170,0) 1%,rgba(87,136,170,1) 89%,rgba(87,136,170,1) 100%); /* Opera 11.10+ */

    background: -ms-linear-gradient(-45deg,  rgba(54,95,108,0) 0%,rgba(54,95,108,0) 1%,rgba(54,95,108,0) 85%,rgba(54,95,108,1) 89%,rgba(54,95,108,1) 100%),-ms-linear-gradient(-45deg,  rgba(87,136,170,0) 0%,rgba(87,136,170,0) 1%,rgba(87,136,170,1) 89%,rgba(87,136,170,1) 100%); /* IE10+ */

    background: linear-gradient(135deg,  rgba(54,95,108,0) 0%,rgba(54,95,108,0) 1%,rgba(54,95,108,0) 85%,rgba(54,95,108,1) 85%,rgba(54,95,108,1) 100%),linear-gradient(135deg,  rgba(87,136,170,0) 0%,rgba(87,136,170,0) 1%,rgba(87,136,170,1) 89%,rgba(87,136,170,1) 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00365f6c', endColorstr='#365f6c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.login #nav a, .login #backtoblog a {
    color: #174458!important;
}

