/*
Theme Name: Peadig
Theme URI: http://peadig.com/
Description: Peadig combines the power of WordPress with the versatile Bootstrap framework so you can create, develop on, and tweak your WordPress site with ease. Whether you've never used WordPress before, or you're an advanced developer, the Peadig framework is one the simplest and most sophisticated available.

Author: Peadig
Author URI: http://peadig.com/
Version: 1.6
Tags: light, one-column, two-columns, three-columns, left-sidebar, right-sidebar, fluid-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

License:
License URI:

General comments (optional).
*/
/******** PEADIG TEST CSS STUFF **********/
.container {
    padding: 0 20px 15px;
}

@media (max-width: 767px) {
    .container {
        padding: 15px 0;
    }

}

/**
 *     GENERAL
 **/
body {
    word-wrap: break-word;
    overflow-wrap: break-word;
    -ms-word-wrap: break-word;
}

input,textarea {
    padding: 5px !important;
}

a, a i, a span, a button {
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}


.breadcrumb {
    font-size: .8em;
    margin-bottom: 0;
}

span.whole, a.whole {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -9999px;
    text-transform: capitalize;
    font-size: 0;
    display: block;
    line-height: 0;
}

.btn > a, .carousel-caption h3, .carousel-caption a {
    color: #fff;
}

.btn-default > a {
    color: #2a6496;
}

#wp-admin-bar-peadig-link span > img {
    display: inline;
    margin-top: -4px;
}

.btn-reset-margin {
    margin-right: 10px;
}

.form-inline p {
    display: inline-block;
    margin-left: 5px;
}

div.icons > div {
    font-size: .8em;
    text-align: center;
    border: 1px solid #e7e7e7;
    padding: 10px 5px;
}

div.icons > div > span,div.icons > div > i {
    font-size: 24px;
}

/**
 *	 MEDIA
 **/
.container img {
    height: auto;
    max-width: 100%;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone, .gallery-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft, .gallery-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright, .gallery-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img, .gallery-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}

.wp-caption-text {
    text-align: center;
    font-size: .7em;
}


/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}



/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}


/**
 *	 404 Page
 **/
.error404 #primary h1,
.error404 #primary p {
    text-align: center;
}


/**
 *   DIGG DIGG FACEBOOK LIKE ALIGN FIX
 **/
.dd_button_v .fb_iframe_widget {
    margin-left: 5px!important;
    text-align: left!important;
}




/**
 *	 HEADER
 **/
header h2 {
    line-height: .9em;
}

header > [class*=col-] {
    padding: 0 10px;
}

header img#logo {
    margin: 10px 0 20px;
}

header [class*=col-lg-1] img#logo {
    margin: 10px auto 20px;
    display: block;
}

header .social,header .contact {
    padding-top: 20px;
    text-align: right;
    padding-right: 0;
}

address,header .social {
    margin-bottom: 10px;
}

header .contact span {
    display: block;
}

header .social i {
    display: inline;
    font-size: 36px;
    opacity:0.7;
    filter:alpha(opacity=70);
    padding: 2px;
}

header .social a:hover {
    text-decoration: none;
}

header .social i:hover {
    text-decoration: none;
    opacity:1.0;
}

i.fa-twitter, i.fa-twitter-square {color:#00aced;}
i.fa-facebook, i.fa-facebook-square {color:#3b5998;}
i.fa-google-plus, i.fa-google-plus-square {color:#dd4b39;}
i.fa-youtube, i.fa-youtube-square {color:#bb0000;}
i.fa-linkedin, i.fa-linkedin-square {color:#007bb6;}
i.fa-rss, i.fa-rss-square {color:#FF6600;}
i.fa-flickr, i.fa-flickr-square {color:#ff0084;}
i.fa-foursquare {color:#0072b1;}
i.fa-instagram, i.fa-instagram-square {color:#517fa4;}
i.fa-pinterest, i.fa-pinterest-square {color:#cb2027;}
i.fa-vimeo, i.fa-vimeo-square {color:#aad450;}

/**
 *	 NAV MENU
 **/
@media (min-width: 767px) {
    .navbar {
        min-height: inherit;
    }
}

@media ( max-width: 979px ) {
    .navbar-nav.nav-justified > li {
        float: none;
    }
}

nav#access {
    clear: both;
}

ul.nav > li.dropdown:hover > ul.dropdown-menu,ul.nav > li.dropdown:hover > ul.dropdown-menu >li.dropdown:hover ul.dropdown-menu {
    display: block;
    text-shadow: 0 0 0;
}

ul.nav > li.dropdown:hover > ul.dropdown-menu li.dropdown:hover ul.dropdown-menu {
    left: 95%;
    top: 0;
}

ul.nav li[class*=btn] > a,ul.nav li[class*=btn] > a:hover {
    color: #FFF;
}

ul.nav li a .caret {
    margin-left: 5px;
}

ul.nav li[class*=btn] a .caret,ul.nav li[class*=btn] a .caret:hover,ul.nav li[class*=btn] a .caret:active {
    border-top-color: #FFF !important;
    border-bottom-color: #FFF !important;
}

li.dropdown > a:after, li.dropdown-submenu > a:after {
    top: -1px;
    position: relative;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    font-size:0.7em;
    line-height:1em !important;
}

li.dropdown > a:after {
    left: 4px;
    content: "\f078";
}

li.dropdown-submenu > a:after {
    left: 90%;
    top: 10px;
    content: "\f054";
    position:absolute;
}

.navbar-nav.nav-justified > li{
    float:none;
}

/**
 *	 SERVICES
 **/
#services [class*=col-lg-] {
    text-align: center;
}

/**
 *	 QUOTE
 **/
#quote {
    text-align: center;
}

#quote h2 {
    font-size: 3em;
    line-height: 1.3em;
}

#quote small {
    display: block;
}

/**
 *	 JUMBOTRON
 **/
.jumbotron {
    padding: 10px 60px 20px;
}

.jumbotron h2 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

/**
 *	 CAROUSEL
 **/
.carousel-inner .item {
    background-size: 100%;
    background-position: center center;
}

.carousel .item > img {
    width: 100%;
}

.carousel-control .icon-prev,.carousel-control .icon-next {
    font-size: 80px;
    margin-top: -65px;
}

/**
 *	 PRIMARY COLUMN
 **/
#primary .entry > p {
    margin-bottom: 20px;
    clear: both;
}

#primary .well.row {
    margin: 10px 0;
}

p > col-lg- > em > strong {
    margin-bottom: 5px !important;
}

.entry-content {
    clear: both;
    display: inline-block;
}

.entry-content .btn btn-default {
    margin: 5px 0;
}

.listposts article {
    padding: 0;
}

hr {
    margin: 10px 0;
}

.sticky {
    background: #f4f4f4;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    padding: 0 20px 15px;
}

/**
 *	 SIDEBAR
 **/
div.widget-area input[type=search] {
    width: auto;
}

.subnav-fixed {
    height: auto;
    left: auto;
    right: 100px;
    width: 300px;
}

.widget {
    padding: 10px;
    margin: 10px 0 15px;
}

.widget-area [class*=span]:first-child {
    margin-left: 2.5641025641026%;
}

.widget h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.widget > ul {
    list-style-type: none;
    margin: 10px 0;
    font-size: .9em;
    padding-left: 8%;
}

.widget > ul .children {
    list-style-type: none;
}

.widget span.post-date {
    display: block;
    font-size: .9em;
    color: #8c8c8c;
}

/**
 *	 COMMENTS
 **/

#comments {clear:both;}
#wpcom > ul,.depth-2 {
    margin-left: 2%;
    padding-left: 0px;
}

#wpcom {
    width: 95%;
    margin: 10px 0px 10px 20px;
}

#comments ul.children,#comments ul.children ul.children {
    margin-left: 0;
    padding-left: 15px;
}

.commentlist {
    margin-left: 0;
}

.commentlist,.commentlist .children {
    list-style-type: none;
}

.commentlist > li {
    margin-bottom: 20px;
}

.commentlist > li > div, .commentlist .children > li > div {
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.comment-respond {
    border-bottom: 0px;
}

.bypostauthor > .comment-body {
    border-right: 3px solid #e3e3e3;
}

.comment-body p {
    margin-bottom: 0 !important;
}

.comment-meta {
    font-size: .8em;
}

.comment-meta button {
    float: right;
}

.fb-comments, .fb-comments > span, .fb-comments > span > iframe {
    width: 100% !important;
}

#comments ol,#comments ul {
    list-style-type: none;
}

.comment-author {
    padding: 0;
}

textarea#comment {
    margin: 0 auto;
}

code {
    white-space: inherit;
}
div#comments p.form-submit {
    display: none;
}

div[id^=___comments_],div[id^=___comments_] iframe,iframe #widget_bounds,iframe .Cba {
    width: 100% !important;
}

/**
 *	 WP-PAGENAVI
 **/
.wp-pagenavi {
    clear: both;
}

.wp-pagenavi a,.wp-pagenavi col-lg- {
    border: 1px solid #BFBFBF;
    padding: 3px 5px;
    margin: 2px;
}

.wp-pagenavi col-lg-.current {
    font-weight: 700;
}

/**
 *	 AUTHORSHIP
 **/
.bio .avatar {
    text-align: center;
}

div.postinfo {
    margin-bottom: 0;
}

.pageauthor {
    display: none;
}

div.postinfo {
    margin-bottom: 0;
}

.bio h3, .bio h1 {
    clear: none;
}

.bio h1 {
    margin: 0;
}

.bio h3 {
    font-size: 1.5em;
    margin: 0;
}

.bio .social > div {
    float: left;
}

div.google_circle {
    overflow: hidden;
    height: 20px;
    position: relative;
    float: left;
    margin-right: 5px;
}

div.google_circle > a {
    position: relative;
    top: -3px;
    display: inline-block;
    background-color: #F8F8F8;
    border: #CCC solid 1px;
    color: #333;
    font-weight: 700;
    cursor: pointer;
    font-size: 11px;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    height: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 999;
    pointer-events: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

div.google_circle > a > i {
    background-image: url(https://ssl.gstatic.com/images/icons/gplus-16.png);
    height: 16px;
    width: 16px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -8px;
}

div.google_circle > a > span {
    padding: 0 7px 0 23px;
}

div.google_circle .gbox {
    position: absolute;
    left: -50px;
    top: -16px;
    background-color: #FFF;
}

.bio .fb-subscribe {
    margin: 0 5px;
    min-width: 90px;
}

.bio .postinfo {
    float: left;
}

.bio p {
    margin-bottom: 0;
    font-size: .9em;
    clear: both;
}

.postinfo .plusicon {
    margin-left: 94px;
    float: left;
    width: 16px;
    height: 16px;
}

/**
 *	 SOCIAL BUTTONS
 **/
.peadigsocial {
    height: 30px;
}

.peadigsocial .tweet {
    float: left;
    width: 65px;
    margin-top: 5px;
}

.peadigsocial .fb-like {width: 130px;}
.peadigsocial .fb-share-button {width: 100px;}
.peadigsocial .plusone {width: 65px;}
.peadigsocial .buffer {width: 90px;}

.peadigsocial > div {
    float: left;
    margin: 5px 5px 5px 0;
}

.fblike iframe,.fblike .fb_iframe_widget,.fblike col-lg- {
    width: 135px !important;
}

.fblike .fb_edge_comment_widget iframe {
    width: 400px !important;
}

.peadigsocial .pinterest-btn btn-default {
    height: 30px;
    padding: 0;
}

.pin-it-btn btn-default {
    position: absolute;
    background: url(http://assets.pinterest.com/images/pinit6.png);
    font: 11px Arial, sans-serif;
    text-indent: -9999em;
    font-size: .01em;
    color: #CD1F1F;
    height: 20px;
    width: 43px;
    background-position: 0 -7px;
}

.pin-it-btn btn-default:hover {
    background-position: 0 -28px;
}

.pin-it-btn btn-default:active {
    background-position: 0 -49px;
}

.gofixed {
    position: fixed;
    width: 100%;
    background: #f3f3f3;
    z-index: 1000;
    top: 0;
    padding: 0 20px 5px;
    border-bottom: 2px solid #CCC;
    left: 0;
    min-height: 75px !important;
}

.gofixed .entry-title, .gofixed footer .meta {
    float: left;
}

.gofixed .bio > div {
    min-width: 390px;
}

.gofixed .avatar {
    display: none;
}

.gofixed .peadigsocial {
    position: absolute;
    margin-top: 42px;
    margin-left: 8.5470085470085%;
}

.gofixed h1 {
    font-size: 1.6em !important;
    line-height: 1em;
}

footer > .row, footer-text {
    padding-right: 0;
}
#footer-text {
    clear: both;
}
/**
 *	 Modified Responsive CSS
 **/
/**
 *	 TABLET (LANDSCAPE)
 **/
@media (max-width: 979px) {
    .btn .navbar {
        display: none;
    }

    div.widget-area input[type=search] {
        width: 60% !important;
    }

    .nav-collapse {
        height: auto;
        clear: none;
        overflow: visible;
    }

    .navbar .nav {
        float: left;
        z-index: 10000;
    }

    .navbar .btn .navbar {
        display: none;
    }

    .navbar .nav > li {
        float: left;
    }

    .navbar .nav > li > a,.navbar .dropdown-menu a {
        padding: 9px;
    }

    .nav-collapse .navbar-form,.nav-collapse .navbar-search {
        float: right;
        padding: 3px;
        margin: 0;
        border-top: 0;
        border-bottom: 0;
    }

    .navbar-inner input.search {
        width: auto;
    }

    .navbar .dropdown-menu {
        background-color: #FFF;
        border-color: rgba(0,0,0,0.2);
        border-style: solid;
        border-width: 1px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.2);
        display: none;
        float: left;
        left: 0;
        list-style: none outside none;
        margin: 0;
        min-width: 160px;
        padding: 4px 0;
        position: absolute;
        top: 100%;
        z-index: 1000 !important;
    }

    .nav-collapse .nav > li > a,.nav-collapse .dropdown-menu a {
        font-weight: 400;
    }

    .navbar .dropdown-menu li a:hover {
        background-color: #08C;
        color: #FFF;
    }

    .navbar .nav.pull-right {
        float: right;
        margin-left: auto;
        margin: 0 10px 0 0;
    }

    p.callus,p.calltag,#logo {
        text-align: center !important;
    }

    #splitright {
        height: 44px;
    }

    #logo img {
        margin: 35px 0 0;
    }

    .gofixed {
        width: 436px;
    }

}

@media (min-width: 650px) {
    ul.nav > li.dropdown > ul.dropdown-menu {
        margin-top: -2px;
    }

    @media (max-width: 767px) {
    .gofixed {
        position: relative;
        background: none;
        padding: 10px 20px;
    }

    .giofixed h1 {
        font-size: 1em;
    }

    .peadigsocial {
        width: 100%;
    }


    }

}

/**
 *	 TABLET (PORTRAIT)
 **/
@media (max-width: 767px) {
    body {
        padding: 0;
    }

    header div {
        text-align: center !important;
    }

    .img-responsive {
        display: inline;
    }

    .row {
        margin-left: 0;
        margin-right: 0;
    }

}

/**
 *	 MOBILE
 **/
@media (max-width:650px) {
    header > [class*=span] {
        clear: both;
        width: 100%;
    }

    img#logo {
        margin: 0;
    }

    header .social {
        padding: 10px 0;
    }

    .nav-collapse,.nav-collapse.collapse {
        overflow: hidden;
    }

    .navbar .btn .navbar {
        display: block;
    }

    .navbar .nav-collapse {
        clear: left;
    }

    .nav-collapse {
        height: 0;
        overflow: hidden;
    }

    .navbar .nav {
        float: none;
        margin: 0 0 9px;
    }

    .navbar .brand {
        margin: 0 0 0 -5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar .dropdown-menu:before,.navbar .dropdown-menu:after {
        display: none;
    }

    .navbar .nav > li {
        float: none;
    }

    .nav li a:hover {
        background-color: #08C !important;
        color: #FFF !important;
        text-shadow: 0 0 0;
    }

    .navbar .dropdown-menu {
        background-color: transparent;
        border: medium none;
        border-radius: 0 0 0 0;
        box-shadow: none;
        display: block;
        float: none;
        left: auto;
        margin: 0 15px;
        max-width: none;
        padding: 0;
        position: static;
        top: auto;
    }

    .navbar .nav.pull-right {
        float: none;
        margin-left: 0;
    }

    .navbar-fixed-top .navbar-inner {
        padding: 5px 5px 10px !important;
    }

    #splitright,#splitleft {
        display: none;
    }

    .carousel,.carousel-inner .item {
        max-height: none;
    }

    .gofixed {
        position: relative;
        background: none;
        padding: 10px 20px;
    }

    .giofixed h1 {
        font-size: 1em;
    }

    .peadigsocial {
        width: 100%;
    }

}